<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PurchaseMapper">
 	
 	
	<resultMap id="purchaseSelectMap" type="purchase">
		<result property="user.userId"								column="user_id"									jdbcType="VARCHAR" />
		<result property="product.prodNo"						column="prod_no"									jdbcType="INTEGER" />
		<result property="product.prodName"				column="prodName" 								jdbcType="VARCHAR" />
		<result property="product.prodImage"				column="prodImage" 							jdbcType="VARCHAR" />
		<result property="purchaseNo"								column="purchase_no"							jdbcType="INTEGER" />
		<result property="usePoint"									column="usePoint"									jdbcType="INTEGER" />
		<result property="cartNo"										column="cart_no"									jdbcType="INTEGER" />
		<result property="receiverName" 							column="receiver_name" 						jdbcType="VARCHAR" />
		<result property="receiverPhone" 						column="receiver_phone"			 		jdbcType="VARCHAR" />
		<result property="receiverAddr1" 						column="receiver_addr1" 					jdbcType="VARCHAR" />
		<result property="receiverAddr2" 						column="receiver_addr2" 					jdbcType="VARCHAR" />
		<result property="divyRequest" 							column="divy_request" 						jdbcType="VARCHAR" />
		<result property="purchaseQuantity"					column="purchase_quantity"				jdbcType="INTEGER" />
		<result property="purchasePrice"							column="purchase_price"						jdbcType="INTEGER" />
		<result property="purchaseDate" 						column="purchase_date"			 			jdbcType="DATE" />
		<result property="purchaseCondition" 				column="purchase_condition"			jdbcType="VARCHAR" />
		<result property="cancelDate" 								column="cancel_date" 							jdbcType="DATE"/>
		<result property="divyDate"									column="divy_date" 								jdbcType="DATE" />
		<result property="paymentOption" 					column="payment_option" 				jdbcType="VARCHAR" />
	</resultMap>
	
	<select id="addPurchaseSeq" resultType="int">
		SELECT seq_purchase_purchase_no.NEXTVAL from dual
	</select>
	
	<!-- SQL : INSERT  -->
	<insert 	id="addPurchase" parameterType="purchase" >
	INSERT
		INTO purchase (user_id, prod_no, cart_no, purchase_no, receiver_name, receiver_phone, receiver_addr1, receiver_addr2, divy_request, purchase_quantity, purchase_price, purchase_date, purchase_condition, payment_option) 
		VALUES (#{user.userId}, #{product.prodNo},  seq_cart_cart_no.NEXTVAL, #{purchaseNo}, #{receiverName}, #{receiverPhone}, #{receiverAddr1}, #{receiverAddr2}, #{divyRequest}, #{purchaseQuantity}, #{purchasePrice}, SYSDATE, '1',  '0')
	 </insert>
	 
	 
 	 <!--SQL : SELECT ONE -->
	 <select 	id="getMyPurchase"	parameterType="int"	resultMap="purchaseSelectMap">
		SELECT
		po.use_point, p.prod_name prodName, p.prod_image prodImage, pc.purchase_no,  pc.cart_no, pc.user_id, pc.purchase_price, pc.purchase_condition, TO_CHAR(pc.purchase_date, 'YYYY-MM-DD HH:MI:SS') purchase_date, pc.purchase_quantity, pc.receiver_name, pc.receiver_addr1, pc.receiver_addr2
		FROM purchase pc, product p, (SELECT use_point, purchase_no FROM point WHERE purchase_no = 10114 AND point=0) po
		WHERE
		pc.prod_no = p.prod_no
		AND pc.purchase_no = po.purchase_no
	 </select>
	 
	 
 	<!-- SQL : UPDATE -->
	 <update	id="updatePurchase"	parameterType="purchase" >
	   	UPDATE transaction
	   	<set>
	   		payment_option = #{paymentOption},
	   		receiver_name = #{receiverName},
	   		receiver_phone = #{receiverPhone},
	   		demailaddr = #{divyAddr},
	   		dlvy_request = #{divyRequest},
	   		quantity = #{quantity}
	   	</set>
	   	WHERE tran_no = #{tranNo}
	 </update>
	 
	
 	<!--SQL : UPDATETRANCODE -->
	 <update	id="updateTranCode"	parameterType="purchase" >
	   	UPDATE transaction
	   	<set>
	   		tran_status_code = #{tranCode},
			tran_no = #{tranNo}
	   	</set>
	   	WHERE tran_no = #{tranNo}
	 </update>
	 
	 
 	 <!--SQL : UPDATETRANCODEBYPROD -->
	 <update	id="updateTranCodeByProd"	parameterType="purchase" >
	   	UPDATE transaction
	   	<set>
	   		tran_status_code = #{tranCode}
	   	</set>
	   	WHERE prod_no = #{purchaseProd.prodNo}
	 </update>
		
	
 	<!--SQL : SELECT LIST -->
	<select  id="getMyPurchaseList"  parameterType="map"	resultMap="purchaseSelectMap">
		SELECT * 
		FROM ( SELECT inner_table.* , ROWNUM AS row_seq
	  				 FROM ( SELECT p.prod_name prodName, p.prod_image prodImage, pc.purchase_no,  pc.user_id, pc.purchase_price, pc.purchase_condition, TO_CHAR(pc.purchase_date, 'YYYY-MM-DD HH:MI:SS') purchase_date, pc.purchase_quantity FROM purchase pc, product p
	  				 <where>
	  				 pc.prod_no = p.prod_no
	  				 <if test="userId != null">
		  				 AND pc.user_id = #{user.userId}
	  				 </if>
	  				 </where>
	  				  ) inner_table
	  				 WHERE ROWNUM &lt;= #{search.endRowNum} )
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum}	
	 </select>

	
 	<!-- SQL : SELECT ROW Count -->	 
	 <select  id="getTotalCount"  parameterType="map"	resultType="int">
	 	SELECT COUNT(*)
	 	FROM ( SELECT * FROM Purchase
	 				 <where>
	 				 	<if test="userId != null">
		  					user_id = #{user.userId}
	 				 	</if>
	  				 </where> ) countTable				
	 </select>
	 
</mapper>