<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">
 	
 	
	<resultMap id="userSelectMap" type="user">
		<result property="userId" 			column="user_id" 			jdbcType="VARCHAR"/>
		<result property="password" 		column="password" 			jdbcType="VARCHAR" />
		<result property="userName"			column="user_name" 			jdbcType="VARCHAR" />
		<result property="birth"			column="birth" 				jdbcType="VARCHAR" />
		<result property="email"			column="email" 				jdbcType="VARCHAR" />
		<result property="phone"			column="phone" 				jdbcType="VARCHAR" />
		<result property="address"			column="address" 			jdbcType="VARCHAR" />
		<result property="dogNo"			column="dog_no" 			jdbcType="INTEGER" />
		<result property="userCondition"	column="user_condition" 	jdbcType="VARCHAR" />
		<result property="recentlyDate"		column="recently_date" 		jdbcType="DATE" />
		<result property="joinDate"			column="join_date" 			jdbcType="DATE" />
		<result property="leaveDate"		column="leave_date" 		jdbcType="DATE" />
		<result property="leaveReason"		column="leave_reason" 		jdbcType="VARCHAR" />
		<result property="role"				column="role" 				jdbcType="VARCHAR" />
		<result property="snsNaverId"		column="sns_naver_id" 		jdbcType="VARCHAR" />
		<result property="snsKakaoId"		column="sns_kakao_id" 		jdbcType="VARCHAR" />
		<result property="snsGoogleId"		column="sns_google_id" 		jdbcType="VARCHAR" />
		<result property="snsFacebookId"	column="sns_facebook_id" 	jdbcType="VARCHAR" />
	</resultMap>
	
	<!-- SQL : INSERT -->
	<insert 	id="addUser"		parameterType="user" >
	 	INSERT
		INTO users( user_id, password, user_name, birth, email, phone, address, 
					dog_no, user_condition, recently_date, join_date, role) 
		VALUES	 (	#{userId}, #{password}, #{userName}, #{birth}, #{email}, #{phone}, #{address}, 
					#{dogNo}, '1', SYSDATE, SYSDATE, 'user') 
	 </insert>
	 
	 <!-- SQL : SELECT ONE -->
	 <select 	id="getUser"	parameterType="string"	resultMap="userSelectMap">
		SELECT
		user_id, password, user_name, birth, email, phone, address,
		dog_no	
		FROM users 
		WHERE user_id = #{value}
	 </select>
	 
	 <!-- 회원정보 업데이트 SQL : UPDATE -->
	 <update	id="updateUser"	parameterType="user" >
	   	UPDATE users
	   		<trim prefix="SET" suffixOverrides=",">
	   			<if test="password != null">password = #{password},</if>
	   			<if test="birth != null">birth = #{birth},</if>
	   			<if test="email != null">email = #{email},</if>
	   			<if test="phone != null">phone =  #{phone},</if>
	   			<if test="address != null">address = #{address},</if>
				<if test="dogNo != 0">dog_no = #{dogNo},</if>
			</trim>
	   	WHERE user_id = #{userId}
	 </update>
	 
	 <!-- 최근 접속일  업데이트 SQL : UPDATE -->
	 <update	id="updateRecentlyDate"	parameterType="string" >
	   	UPDATE users
	   	<set>
	   		recently_date = SYSDATE,
	   	</set>
	   		WHERE user_id = #{value}
	 </update>
		 
	<!-- SQL : SELECT LIST -->
	<select  id="getUserList"  parameterType="search"	resultMap="userSelectMap">
	  	SELECT *
	  	FROM (	SELECT inner_table.* , ROWNUM AS row_seq
	  					FROM		(	SELECT user_id , user_name , email
											FROM users
											<if test="searchCondition != null">
												<where>
													<if test="searchCondition == 0 and searchKeyword !='' ">
										 				user_id LIKE '%'|| #{searchKeyword} ||'%'
													</if>
													<if test="searchCondition == 1 and searchKeyword !='' ">
										 				user_name LIKE '%'|| #{searchKeyword} ||'%'
													</if>
												</where>
											</if>
											ORDER BY user_id ) inner_table
						WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum} 
	 </select>
	 
	<select  id="getUserList2"  parameterType="search"	resultMap="userSelectMap">
	  	SELECT user_id , user_name , email
		FROM users
				<if test="searchCondition != null">
						<where>
								<if test="searchCondition == 0 and searchKeyword !='' ">
						 				user_id LIKE '%'|| #{searchKeyword} ||'%'
								</if>
								<if test="searchCondition == 1 and searchKeyword !='' ">
						 				user_name LIKE '%'|| #{searchKeyword} ||'%'
								</if>
						</where>
				</if>
		ORDER BY user_id 
	 </select>
	 	<!--  위 두번째 subQuery 의  
	 			WHERE ROWNUM &lt;= #{endRowNum} ) 는
	 			WHERE ROWNUM <= #{endRowNum} ) 의미이며..
	 			< 는 keyword 로 &lt; 를	사용.
	 			
	 			<![CDATA[  ~~~  ]]> 를 이용하여 아래와 같이 사용  할 수 있다.
	 			CDATA ==> Character Data 의 의미 Java 에서 \n 같은 특수문자 처리  

				WHERE ROWNUM <![CDATA[ <=]]> #{endRowNum} )
		-->
	
	<!-- SQL : SELECT ROW Count -->	 
	 <select  id="getTotalCount"  parameterType="search"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT user_id , user_name , email
						FROM users
						<if test="searchCondition != null">
							<where>
								<if test="searchCondition == 0 and searchKeyword !='' ">
						 			user_id LIKE '%'|| #{searchKeyword} ||'%'
								</if>
								<if test="searchCondition == 1 and searchKeyword !='' ">
						 		user_name LIKE '%'|| #{searchKeyword} ||'%'
								</if>
							</where>
						</if> ) countTable						
	 </select>
	 
</mapper>